/* Add your custom styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../../../../assets/img/wev.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  }
  
  .limiter {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container-login100 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .wrap-login100 {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login100-form-title {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-wrap {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input100 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container-login100-form-btn {
    text-align: center;
    margin-top: 20px;
  }
  
  .login100-form-btn {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    background: #f33ab5;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .txt2 {
    color: #000000b4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  .text-center h4 {
    margin-top: 30px;
    border-radius: 15px;
  }
  
  .alert {
    margin-bottom: 20px;
  }
  